/* Estructura y Secciones */
body {
  background-color: #333;
  min-width: 200px;
}

footer > a.boton {
  font-size: x-small;
}

/* Cabeceras */
h2 span, section h3 {
  display: none;
}

/* Formularios */
input {
  font-size: small;
}

/* Frases */
a.boton {
  font-size: 85%;
}

/* Clases */
.foto {
  width: 65px;
  height: 65px;
}

/* Identificadores */
#page-wrap:after {
  content: "Smartphone Layout";
  font-size: medium;
}

#n1.main, #f1.main {
  padding: 5px 0px 10px 0px;
}