/* Estructura y Secciones */
html {
  font-size: smaller;
  min-width: 240px;
}

body {
  background-color: #333;
}

header, #page-wrap > nav {
  min-height: 30px;
  max-height: 30px;
}

header {
  line-height: 30px;
}

footer {
  min-height: 24px;
  max-height: 24px;
}

#layout {
  font-size: small;
}

#layout:after {
  content: 'Smartphone Layout';
}

/* Cabeceras */
h2 span, section h3 {
  display: none;
}

/* Formularios */
label {
  float: left;
  width: 100px;
  margin-left: 5px;
  margin-bottom: 3px;
  text-align: left;
}

input {
  font-size: small;
}

input[type = text], input[type = 'password'] {
  width: 90%;
}

/* Botones */
a.boton {
  width: 50px;
}

footer > a.boton {
  font-size: smaller;
}

a.pie {
  width: 90px;
}

button.enlace {
  width: 75px;
  height: 30px;
}

/* Párrafos y Textos */
textarea {
  width: calc(100% - 15px);
}

/* Identificadores */
#buscar input[type = text] {
  width: 50%;
}

/* Clases */
.col1 {
  width: 25px;
}

.col2 {
  width: 70px;
}

.foto {
  width: 65px;
  height: 65px;
}

.rem {
  display: none;
}