/* Estructura y Secciones */
html {
  min-width: 200px;
}

body {
  background-color: #333;
}

header, #page-wrap > nav {
  min-height: 30px;
  max-height: 30px;
}

header {
  line-height: 30px;
}

footer {
  min-height: 24px;
  max-height: 24px;
}

#layout {
  font-size: small;
}

#layout:after {
  content: "Smartphone Layout";
}

/* Cabeceras */
h2 span, section h3 {
  display: none;
}

/* Formularios */
input {
  font-size: small;
}

input[type = text] {
  width: 90%;
}

/* Botones */
a.boton {
  font-size: 85%;
}

footer > a.boton {
  font-size: x-small;
}

a.pie {
  width: 90px;
}

/* Clases */
.foto {
  width: 65px;
  height: 65px;
}

.rem {
  display: none;
}