/* Global */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* Estructura y Secciones */
html {
  font-size: 18px;
  font-family: "Boogaloo", cursive;
  letter-spacing: 0.5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #666;
}

header, footer {
  display: block;
  background-color: Wheat;
  border: 1px dotted;
  border-radius: 4pt;
  margin: 2px;
  padding: 4px;
  text-align: center;
}

header {
  min-height: 50px;
  max-height: 50px;
  line-height: 50px;
}

footer, #page-wrap > nav {
  min-height: 35px;
  max-height: 35px;
  padding-bottom: 6px;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#page-wrap {
  flex: 1;
  display: flex;
  flex-flow: column;
  min-height: 300px;
  margin: 0px 2px 0px 2px;
}

#page-wrap > nav, #page-wrap > section {
  order: 0;
}

#page-wrap > nav {
  flex: 0 0 auto;
  background-color: Tan;
  border: 1px dotted;
  border-radius: 5pt;
  margin: 0px 0px 2px 0px;
  padding: 4px 4px 6px 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

#page-wrap > section {
  flex: 6 1 auto;
  background-color: #DCDCDC;
  border: 1px dotted;
  border-radius: 5pt;
  padding: 4px;
}

#cuerpo {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

section > div.tbody {
  flex: 4 1 auto;
}

#layout {
  margin-left: 2px;
  font-size: medium;
  color: White;
}

#layout:after {
  content: "Normal Layout";
}

/* Cabeceras */
section h3 {
  margin-top: 5px;
  text-align: center;
}

/* Botones */
a.boton {
  color: #00B7FF;
  width: 90px;
  padding: 4px;
  color: LightYellow;
  background-color: Brown;
  border-color: LightSalmon;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 3px 3px 1px #7C7C7C;
  text-decoration: none;
  text-align: center;
}

a.boton:hover {
  color: White;
  background-color: LightSlateGray;
  border-color: LightSlateGray Lime;
  border-style: solid;
  border-right-width: 0px;
  border-left-width: 2px;
}

a.pie {
  color: Navy;
  background-color: LightSteelBlue;
  border-color: LightCyan;
  box-shadow: 3px 3px 1px #ADADAD;
  width: 130px;
}

/* Tablas */
table {
  table-layout: fixed;
  width: 100%;
  margin: 0px auto 10px auto;
  border: 2px solid CadetBlue;
  border-radius: 15px;
  box-shadow: 6px 6px 3px #888888;
  padding: 5px;
  background-color: AliceBlue;
}

.tbody {
  width: 90%;
  height: 200px;
  margin: 10px auto auto auto;
  padding: 0px 10px 10px 0px;
  text-align: center;
  overflow: auto;
}

td {
  padding: 3px;
}

/* Formularios */
label {
  display: inline-block;
  width: 80px;
  text-align: right;
}

input {
  margin-top: 10px;
}

input[type = text] {
  min-width: 160px;
  padding: 5px;
  border: 2px solid #CCC;
  border-radius: 5px;
}

input[type = text]:focus {
  border-color: #333;
}

input[type = submit], button[type = button] {
  padding: 5px 15px;
  background: CornflowerBlue;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

/* Párrafos y Textos */
p {
  padding: 5px;
}

p.pregunta, p.respuesta {
  font-size: 120%;
  font-weight: bold;
}

p.pregunta {
  color: DarkBlue;
}

p.respuesta {
  display: table;
  margin: 30px auto;
  border-style: dotted;
  border-width: 2px;
  border-radius: 10px;
  padding: 8px;
}

span.pregunta {
  font-style: italic;
  color: CornflowerBlue;
}

pre {
  font-size: 11px;
  font-family: "Consolas", monospace;
  overflow: auto;
}

/* Identificadores */
#buscar {
  text-align: center;
}

#ok.respuesta {
  border-color: Green;
  color: Green;
  background-color: LightGreen;
}

#err.respuesta {
  border-color: Red;
  color: Red;
  background-color: LightPink;
}

/* Clases */
.col1 {
  width: 40px;
  text-align: center;
}

.col2 {
  text-align: left;
}

.foto {
  width: 100px;
  height: 100px;
  margin: 10px auto auto auto;
  background-image: url(../images/foto.jpg);
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: LightGray;
}