/* Universal */
* {
  margin: 0px;
  padding: 0px;
}

/* Estructura y Secciones */
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header, nav, section, footer {
  background-color: #eee;
  text-align: center;
}

nav {
  display: block;
  font-size: medium;
}

section > div {
  padding: 20px;
}

footer > a {
  font-size: x-small;
}

p {
  padding: 5px;
}

p.pregunta, p.respuesta_ok, p.respuesta_err {
  font-size: 120%;
  font-weight: bold;
}

p.pregunta {
  color: DarkBlue;
}

p.respuesta_ok {
  color: Green;
}

p.respuesta_err {
  color: Red;
}

/* Tablas */
table {
  margin: 0px auto;
  border: 2px solid CadetBlue;
  border-radius: 15px;
  box-shadow: 6px 6px 3px #888888;
  padding: 5px;
  background-color: AliceBlue;
}

tbody {
  height: 200px;
  overflow-y: auto;
}

th, td {
  padding: 3px;
}

th {
  background-color: CadetBlue;
}

/* Frases */
a.boton {
  color: #00B7FF;
  text-decoration: none;
  width: 90px;
  margin-right: 10px;
  padding: 4px;
  color: LightYellow;
  background-color: Brown;
  border-color: LightSalmon;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 3px 3px 1px #ADADAD;
}

a.boton:hover {
  color: White;
  background-color: LightSlateGray;
  border-color: LightSlateGray Lime;
  border-style: solid;
  border-right-width: 0px;
  border-left-width: 2px;
}

span.pregunta {
  font-style: italic;
  color: CornflowerBlue;
}

/* Clases */
.izq {
  text-align: left;
}

.cen {
  text-align: center;
}

.foto {
  width: 100px;
  height: 100px;
  margin: auto;
  background-image: url(../images/foto.jpg);
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: LightGray;
}

/* Identificadores */
#page-wrap {
  margin: 2% auto;
  color: White;
}

#page-wrap > .main {
  border: 1px solid #999;
  padding: 1.2%;
  margin-bottom: 1px;
  color: Black;
}

#f1.main {
  padding-left: 20px;
}
