/* Estructura y Secciones */
html {
  font-size: larger;
}

body {
  background-color: #999;
}

#page-wrap {
  flex-flow: row;
}

#page-wrap > nav {
  order: 1;
  min-height: inherit;
  max-height: inherit;
  margin: 0px 2px 0px 0px;
  flex-direction: column;
  justify-content: flex-start;
}

#page-wrap > section {
  order: 2;
}

#layout:after {
  content: 'Wide Layout';
}

/* Botones */
a.boton {
  margin: 5px;
}

footer > a.boton {
  font-size: medium;
}

/* Formularios */
label {
  width: 90px;
}

input[type = text] {
  width: 80%;
}

/* Identificadores */
#buscar input[type = text] {
  width: 60%;
}

/* Clases */
.col1 {
  width: 40px;
}

.col2 {
  width: 105px;
}

.foto {
  width: 125px;
  height: 125px;
}