<% if (respuesta === true) { %>
  <p class='respuesta' id='ok'>CORRECTO</p>
<% } else { %>
  <p class='respuesta' id='err'>INCORRECTO</p>
<% } %>
<p></p>
<p>
  <% if (respuesta !== true) { %>
    <a href='/quizes/<%= id %>'>
      <button type='button'>Inténtelo otra vez</button>
    </a>
  <% } %>
  <a href='/quizes<% if (search) { %>?search=<%= search %><% } %>'>
    <button type='button'>Volver a lista</button>
  </a>
</p>