<form method='get' action='/quizes/<%= quiz.id %>/answer'>
  <p class='pregunta'>
    [<%= quiz.Subject.tema %>] Pregunta: <span class='pregunta'><%= quiz.pregunta %></span>
  </p>
  <p>
    <input type='text' name='respuesta' id='respuesta' value='Responda aquí' />
    <input type='submit' value='Enviar' />
  </p>
</form>
<script>
  window.onload = function() {
    document.getElementById('respuesta').select().focus();
  }
</script>