<p class='login'>Identificación:</p>
<form method='post' action='/login'>
  <label for='login'>Usuario:</label>
  <input type='text' id='login' name='login' size='30' />

  <label class='clear' for='password'>Contraseña:</label>
  <input type='password' id='password' name='password' size='30' />

  <p class='clear'>
    <input type='submit' id='commit' name='commit' value='Conectar' />
  </p>
</form>
<script>
  window.onload = function() {
    document.getElementById('login').select().focus();
  }
</script>